@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            A fictional University where you can get more smarter.
            Plus, all users of the University's site have access to
            modify all of our important information, so feel free to
            delete that teacher you don't like from the database.
            Think the English department is over funded?  Change it!  
            You do what you think is best.
        </p>
    </div>
    <div>
        <img src="~/images/architecture-building-clouds-207648.jpg" style="height: 35%; width: 65%"/>
    </div>
</div>